.section__team {
  display: flex;
  flex-direction: row-reverse;
  background-image: url(../img/bg/team_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.team {
  width: 50%;
  background-color: #3d4041;
  opacity: 0.93;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__title {
  width: 70%;
  font-family: 'Gagalin';
  font-size: rem(72px);
  text-transform: uppercase;
  margin-top: rem(75px);
  margin-bottom: rem(86px);
  color: $green;
}

.team__list {
  width: 70%;
}

.team__item {
  font-size: rem(14px);
  margin-bottom: rem(16px);

  &--active {
    .team__member-info {

    }

    .team__member {
      color: $green;

      &:before {
        border-top: none;
        border-bottom: rem(5px) solid $green;
      }
    }

    .team__member-wrap {
      overflow: visible;
      margin-bottom: rem(120px);
    }
  }
}

.team__member {
  font-family: 'Gagalin';
  display: flex;
  align-items: center;
  margin-bottom: rem(15px);
  color: #fff;

  &:before {
    content: "";
    margin-right: rem(10px);
    border: rem(5px) solid transparent;
    border-top-color: $green;
  }
}

.team__member-wrap {
  transition: 0.4s;
  height: 0;
  overflow: hidden;
}

.team__member-info {
  transition: 0.4s;
  display: flex;
}

.team__img {
  margin-left: rem(20px);
  margin-right: rem(20px);
  min-width: rem(100px);
  min-height: rem(100px);
  max-width: rem(100px);
  max-height: rem(100px);
  border-radius: 50%;
  background-image: url(../img/content/team_aphex.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team__desc {
  font-family: 'Ubuntu';
  font-size: rem(14px);
  color: #fff;
}

.team__role {
  font-weight: 700;
  margin-bottom: rem(10px);
}

.team__text {
  font-weight: 300;
}