.section__best {
  background-image: url('../img/bg/best_bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title--best {
  color: #2f3234;
  padding: 0;
  margin-bottom: rem(60px);
}

.features {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
  margin-bottom: rem(110px);
}

.features__item {
  width: rem(300px);
}

.features__img {
  max-width: 100%;
}

.features__title {
  margin-top: rem(30px);
  font-family: 'Lifehack';
  font-size: rem(24px);
  color: $dark;
}

.features__desc {
  margin-top: rem(15px);
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: rem(14px);
  line-height: rem(24px);
  color: #686768;
}