.menu-acco {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
    display: flex;
}

.menu-acco__item {
	display: flex;
	flex-direction: row;
	height: 100%;

	&.active__menu{
		.menu-acco__trigger-text {
			color: $yellow;
		}

		.menu-acco__content {
			width: rem(450px);

			@include tablets {
				width: rem(350px);
			}

			@include phones {
				width: rem(260px);
			}
		}

		.menu-acco__text {
			display: block;
		}
	}
}

.menu-acco__trigger {
	width: rem(80px);
	display: flex;
	height: 100%;
	@include cover;
	text-decoration: none;
  	position: relative;
}

.menu-acco__trigger-text {
	font-size: rem(40px);
	color: #fff;
	@include gagalin;
	white-space: nowrap;
  	position: absolute;
  	transform: rotate(-90deg) translateY(-80%);
 	transform-origin: 0 0;
  	left: 50%;
  	top: 100%;
	margin-top: rem(-120px);
}

.menu-acco__content {
	height: 100%;
	background: rgba(#2f3234, 0.93);
	width: 0;
	overflow: hidden;
}

.menu-acco__text {
	@include ubuntu(light);
	font-size: rem(14px);
	color: #fff;
	padding: rem(50px) rem(30px);
	width: 100%;
    line-height: 1.8;
    display: none;
}