.nav__list {
	width: 100%;
  display: flex;
  align-items: center;
}

.nav__item {
	white-space: nowrap;

	&:last-child {
		margin-right: 0;
		&:after {
			display: none;
		}
	}

	&:after {
		content: "";
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background: white;
		margin: 0 12px;
	}
}

.nav__link {
	font-size: rem(13px);
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	@include ubuntu(medium);

	&:hover {
		text-decoration: underline;
	}
}
